/* _content/RentalCarFront/Views/Shared/_Layout.cshtml.rz.scp.css */
.navbar-links[b-hi7ihj8f79] {
  display: flex;
  gap: 10px;
}


@media only screen and (max-width: 768px) {
  .navbar-links[b-hi7ihj8f79] {
    display: block;
    gap: 10px;
  }
}
