/* _content/RentalCarFront/Views/Shared/_Layout.cshtml.rz.scp.css */
.footer[b-hi7ihj8f79]{
  text-align: center;
  background-color: #e4d1f5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 100px;
}

.navbar-links[b-hi7ihj8f79] {
  display: flex;
  gap: 10px;
}


@media only screen and (max-width: 768px) {
  .navbar-links[b-hi7ihj8f79] {
    display: block;
    gap: 10px;
  }
}
