@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

@model RentalCarFront.Models.Input.LoginUserRequest

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            display: flex;
            font-family: Arial, sans-serif;
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
            margin: 0; 
            background-color: #f5eff9; 
        }

        h1{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: #4a4a4a;
        }

        #loginForm {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            padding: 40px; 
            background-color: #e4d1f5; 
            border-radius: 5px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            width: 400px;
            max-width: 90%;
            height: 40vh;
            justify-content: space-between;
        }

        #loginForm div {
            margin-bottom: 30px; 
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        #loginForm label{
            color: #4a4a4a;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 7px;
        }

        #loginForm input{
            border: none;
            background-color: #fff;
            padding: 9px;
            font-size: 18px;
            width: 100%;
            outline: none;
            border-radius: 5px;
        }

        #loginForm input:focus{
            border: 1px solid black;
        }

        #loginForm p a{
            font-size: 16px;
            color: rgb(94, 25, 111);
        }

        #loginForm p a:hover{
            color: rgb(174, 114, 189);
        }

        button {
            width: 100%;
            padding: 10px 15px; 
            background-color: #fc7575; 
            color: white; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            margin-top: 10px;
            font-size: 18px;
        }

        button:hover {
            background-color: #f79292; 
        }

        #loginMessage {
            margin-top: 20px; 
            text-align: center; 
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"] ke RentCar</h1>
    <form id="loginForm">
        <div>
            <label for="name">Username:</label>
            <input type="text" id="username" name="name"placeholder="Masukkan username Anda" required />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"placeholder="Masukkan password Anda" required />
        </div>
        <button type="submit">Login</button>
        <p>Belum punya akun? <a id='registerButton' asp-area="" asp-controller="User" asp-action="Register">Registrasi di sini</a></p>
    </form>

    <div id="loginMessage"></div>
</body>
</html>


@section Scripts {
    <script>
        document.getElementById('loginForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const email = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('http://localhost:7100/api/Rental/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password }),
                });

                const result = await response.json();
                console.log(result);

                if (response.ok) {
                    // Redirect or perform other actions on successful login
                    sessionStorage.setItem('CustomerName', result.data.userData.name);
                    sessionStorage.setItem('CustomerEmail', result.data.userData.email);
                    sessionStorage.setItem('CustomerId', result.data.userData.customerId);
                    
                    window.location.href = '/Home/Index'; // Change this as needed

                } else {
                    document.getElementById('loginMessage').innerText = result.message || 'Invalid email or password. Register your account if no account yet.';
                }
            } catch (error) {
                document.getElementById('loginMessage').innerText = 'An error occurred. Please try again later.';
                console.error('Error during login:', error);
            }
        });
    </script>
}
