.title {
  color: #4a4a4a;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.filter {
  background-color: rgb(199, 229, 250);
  padding: 1rem;
  border-radius: 10px;
  display: flex; 
  justify-content: flex-start; 
  margin-left: 1rem;
  margin-right: 1rem;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.filter div {
  display: flex;
  flex-direction: column;
  width: 20%; 
  margin-bottom: 0; 
}


.filter label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.filter input,
.filter select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 75%;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-end; 
  width: 20%; 
  margin-left: 0;
  margin-top: 0.5rem; 
}

.filter button {
  width: auto; 
  border: none;
  background-color: #ff8484; 
  color: #ffffff;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}


.filter button:hover {
  background-color: #e58a8a; 
}

.cari{
  padding: 10px 20px; 
}

.cari a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff8484; 
  padding: 10px;
  border-radius: 5px;
}

.cari a:hover {
  background-color: #e58a8a; 
}

@media (max-width: 968px) {
  .filter div {
      width: 100%; 
      margin-bottom: 1rem; 
  }
  .filter input {
      width: 95%;
  }
  .filter select {
      width: 98%;
  }
  .button-wrapper {
      width: 100%; 
      margin-left: 0;
  }
  .filter button {
      width: 80%; 
      margin-left: auto;
      margin-right: auto;
  }
}
